body {
  background-color: #212020;
  margin: 0;
  padding: 0;
}

video#dynamic_bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

video#ios_awake_hack {
  position: fixed;
  opacity: 0;
  width: 1px;
  height: 1px;
  z-index: -999;
}

#time_panel {
  font: bold 60px/150% 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', Arial, sans-serif;
  text-align: left;
  margin: 80px auto;
  color: #fff;
  border-left: 5px solid #ca1e1e;
  border-bottom: 5px solid #ca1e1e;
  padding: 10px;
  box-shadow: -10px 10px 20px #00ffff;

  width: 100%;
  max-width: 800px;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
}

#mi {
  font-size: 1.5em;
}

#style_controls {
  text-align: center;
  margin-top: 10px;
}

#style_controls button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
}
